body{
    max-width: 1200px;
    margin: auto;
    justify-content: space-around;
}
#background{
    background-image: url("./assets/css/style.css");
    height: 50px;
    width:100%;
}
.content-container{
    align-items: center;
    text-align: center;
}
.col-lg-12{
   text-align: center;
   border: 2px solid rgba(214, 79, 180, 0.4);
   border-radius: 5px;
width: 100%;
margin-bottom: 10px;
}
.col-lg-3{
    border: 3px solid rgba(0, 247, 255, 0.801);
    border-radius: 5px;
    justify-content: space-around;
    margin: auto;
}
.jumbotron-fluid{
    margin: auto;
    justify-content: center;
    width: 100%;
}
.wins{
    border:2px, solid, blue;
    background: green;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px
}
.loses{
    border:2px, solid, rgb(2, 2, 1);
    background: red;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px
}
.container{
    margin-top: 10px;
}